*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #222;
    border-radius:2vw;
    padding: 2vw;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 4vw;
    height: 4vw;
    border-radius: 1vw;
    box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1),3px 3px 3px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 2vw;
    color: #fff;
    cursor: pointer;
    margin: 1vh;
}

.display{
    display: flex;
    justify-content: flex-end;
    margin-top: 2vw 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 4vw;
    box-shadow: none;
}

form input.equal{
    width:10vw;
}

form input.operator{
    color: #000;
    background-color: #fff;
}

