* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

h2{
    text-align: center;
    padding: 2vh 0;
    background-color: mediumseagreen;
    color: #fff;
    font-size: 2.2vw;
    font-weight: 300;
}

.container {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    padding: 1.5vh 0px;
    font-weight: 500;
    color: #fff;
    font-size: 1.4vw;
}

input {
    color: #222;
    padding: 1vh 1vw;
    font-size: 1.4vw;
}

.gender {
    display: flex;
    padding: 13px 0px;
}

.gender input {
    margin: 0px 2vh;
}

.skill {
    display: flex;
    padding: 13px 0px;
}

.skill input {
    margin: 0px 10px;
}

.buttons button {
    padding: 1.5vh 3vw;
    font-size: 1.4vw;
    font-weight: 200;
    border-radius: 1vw;
    border: none;
}

.buttons #enroll {
    background-color: #fff;
    color: #222;
}

.buttons #clear {
    background-color: red;
    color: #222;
}

.vertical_line {
    border: 1px solid #fff;
    height:90vh;
    margin: -8vh 60px;
}

.result {
    width: 50%;
}

.result h3 {
    text-align: center;
    padding: 0 0px 20px 0px;
    font-size:3vw;
    font-weight: bold;
    color: #fff;
}

#StudentDetail {
    display: flex;
    justify-content: space-between;
    width: 94%;
    border: 1px solid green;
    background-color: rgb(236, 241, 236);
}

.description {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    justify-content: space-between;
}

.description p {
    padding: 6px;
    font-size: 1.4vw;
}

.image {
    width: 27%;
    border: 1px solid green;
}

.image img {
    width: 100%;
    height: 100%;
}

.heading {
    border: 1px solid green;
    padding: 5px 20px 5px 10px;
    background-color: rgb(129, 251, 129);
    width: 94%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1.5vw;
}