* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.container {
  padding-top: 10vh;
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
}

.todo-app {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 40vw;
  min-height: 60vh;
  background-color: #fff;
  border-radius: 1vw;
  padding-left: 1vw;
}

.todo-app h1 {
  color: #002765;
  font-size: 3.4vw;
  font-weight: 500;
}

.todo-app img {
  width: 3.4vw;
}

.inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: #edeef0;
  border-radius: 1vw;
  border: none;
}

input {
  padding: 2.4vh 2vw;
  border-radius: 1vw;
  border: none;
  background-color: #edeef0;
  cursor: pointer;
  font-size: 1.5vw;
}

input::placeholder {
  font-size: 1.6vw;
}

.inputField button {
  padding: 2.5vh 5vw;
  border-radius: 1vw;
  border: none;
  background-color: #0f0c29;
  font-size: 1.4vw;
  color: #fff;
  cursor: pointer;
  margin-left: -6vw;
}

.listContainer {
  margin-top: 4vh;
}
ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

ul li {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vh 2vh 6vh;
  font-size: 2vw;
  list-style: none;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  position: relative;
  margin-top: 2vh;
}

ul li::before {
  content: "";
  width: 2vw;
  height: 2vw;
  background-image: url(./Assets/unchecked.png);
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 15px;
  left: 8px;
}

ul li.checked {
  text-decoration: line-through;
  color: #555;
}

ul li.checked::before {
  background-image: url(./Assets/checked.png);
}

ul li span {
  position: absolute;
  top: 6px;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  color: #555;
  font-size: 22px;
}

ul li span:hover {
  background-color: #edeef0;
}

/* CSS for 1028px */

@media screen and (max-width : 1028px){
  .container {
    padding-top: 10vh;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
  }
  
  .todo-app {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 60vw;
    min-height: 60vh;
    background-color: #fff;
    border-radius: 1vw;
    padding-left: 1vw;
  }
  
  .todo-app h1 {
    color: #002765;
    font-size: 4.4vw;
    font-weight: 500;
    margin-bottom: 1vh;
  }
  
  .todo-app img {
    width: 5vw;
  }
  
  .inputField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #edeef0;
    border-radius: 1vw;
    border: none;
  }
  
  input {
    padding: 2.4vh 2vw;
    border-radius: 1vw;
    border: none;
    background-color: #edeef0;
    cursor: pointer;
    font-size: 2vw;
  }
  
  input::placeholder {
    font-size: 2.4vw;
  }
  
  .inputField button {
    padding: 2.5vh 7vw;
    border-radius: 1vw;
    border: none;
    background-color: #0f0c29;
    font-size: 2vw;
    color: #fff;
    cursor: pointer;
    margin-left: -6vw;
  }
  
  .listContainer {
    margin-top: 5vh;
  }
  ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  ul li {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4vh 2.4vh 2.4vh 7vh;
    font-size: 3vw;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin-top: 2vh;
  }
  
  ul li::before {
    content: "";
    width: 2vw;
    height: 2vw;
    background-image: url(./Assets/unchecked.png);
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 24px;
    left: 8px;
  }
  
  ul li.checked {
    text-decoration: line-through;
    color: #555;
  }
  
  ul li.checked::before {
    background-image: url(./Assets/checked.png);
  }
  
  ul li span {
    position: absolute;
    top: 14px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #555;
    font-size: 22px;
  }
  
  ul li span:hover {
    background-color: #edeef0;
  }
}

/* CSS for 768px */

@media screen and (max-width : 768px){
  .container {
    padding-top: 10vh;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
  }
  
  .todo-app {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 70vw;
    min-height: 60vh;
    background-color: #fff;
    border-radius: 1vw;
    padding-left: 1vw;
  }
  
  .todo-app h1 {
    color: #002765;
    font-size: 5vw;
    font-weight: 500;
    margin-bottom: 1vh;
  }
  
  
  .inputField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #edeef0;
    border-radius: 1vw;
    border: none;
  }
  
  input {
    padding: 3vh 2vw;
    border-radius: 1vw;
    border: none;
    background-color: #edeef0;
    cursor: pointer;
    font-size: 2.2vw;
  }
  
  input::placeholder {
    font-size: 2.6vw;
  }
  
  .inputField button {
    padding: 3vh 7vw;
    border-radius: 1vw;
    border: none;
    background-color: #0f0c29;
    font-size: 2.2vw;
    color: #fff;
    cursor: pointer;
    margin-left: -6vw;
  }
  
  .listContainer {
    margin-top: 5vh;
  }
  ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  ul li {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vh 2.5vh 2.5vh 7.2vh;
    font-size: 3.4vw;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin-top: 2vh;
  }
  
  ul li::before {
    content: "";
    width: 2vw;
    height: 2vw;
    background-image: url(./Assets/unchecked.png);
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 26px;
    left: 8px;
  }
  
  ul li.checked {
    text-decoration: line-through;
    color: #555;
  }
  
  ul li.checked::before {
    background-image: url(./Assets/checked.png);
  }
  
  ul li span {
    position: absolute;
    top: 14px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #555;
    font-size: 22px;
  }
  
  ul li span:hover {
    background-color: #edeef0;
  }
}

/* For mobile  */

@media screen and (max-width : 442px){
  .container{
      padding-top: 16vh;
      min-width: 100vw;
      min-height: 100vh;
      background-image: linear-gradient(to right,#0f0c29,#302b63,#24243e);
  }
  
  .todo-app{
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      margin:auto;
      max-width: 84vw;
      min-height:380px;
      background-color: #fff;
      border-radius: 1vw;
      padding-left: 1vw;
      text-transform: uppercase;
  }
  
  .todo-app h1{
      color: #002765;
      font-size: 3.6vh;
      font-weight: 500;
      margin-bottom: 1vh;
  }
  
  .todo-app img{
      width: 3.8vh;
  }
  
  .inputField{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      background-color: #edeef0;
      border-radius: 1vw;
      border: none;
  }
  
  input{
      padding:1.4vh 1.5vh ;
      border-radius: 1vw;
      background-color: #edeef0;
      cursor: pointer;
      font-size: 1.5vh;
  }
  
  input::placeholder{
      font-size: 1.6vh;
  }
  
  .inputField button{
      padding: 2vh 4vh ;
      border-radius: 1vw;
      border: none;
      background-color: #0f0c29;
      font-size: 1.3vh;
      color: #fff;
      cursor: pointer;
      margin-left: -7vh;
  }
  
  .listContainer{
      margin-top: 4vh;
  }
  ul{
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
  }
  
  ul li{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1vw 1vh 0 4vh;
      font-size: 1.6vh;
      list-style: none;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      position: relative;
      margin-top: 3vw;
  }
  
  ul li::before{
      content: "";
      width: 2vh;
      height: 2vh;
      background-image: url(./Assets/unchecked.png);
      position: absolute;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      top: 2px;
      left: 8px;
  }
  
  
  ul li.checked{
      text-decoration: line-through;
      color: #555;
  }
  
  ul li.checked::before{
      background-image: url(./Assets/checked.png);
  }
  
  ul li span{
      position:absolute ;
      top: 0 ;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 22px;
      line-height: 40px;
      text-align: center;
      color: #555;
      font-size: 22px;
      margin-top: -1vh;
  }
  
  ul li span:hover{
      background-color: #edeef0;
  } 
}